.header {
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: -8px;
    width: calc(100% + 16px);
    height: 15px;
    background: $primary;
    z-index: -1;
  }
}
