.btn {
  display: inline-block;
  cursor: pointer;
  border: unset;
  font-weight: 700;
  text-align: center;
}

.btn-primary {
  border-radius: 30px;
  background: #70b354;
  color: #fff;
  font-size: 20px;
}

@media (min-width: 576px) {
  .btn-primary {
    font-size: 22px;
  }
}

.btn-white {
  border-radius: 30px;
  background: white;
  color: #70b354;
  font-size: 20px;
}

@media (min-width: 576px) {
  .btn-white {
    font-size: 22px;
  }
}

.btn-home {
  cursor: unset;
  padding: 10px 20px;
}

@media (min-width: 992px) {
  .btn-home {
    padding: 12px 24px;
  }
}

@media (min-width: 1200px) {
  .btn-home {
    padding: 14px 28px;
  }
}

.flex-centered {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media (min-width: 768px) {
  .md-flex-centered {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .hg-flex-centered {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
}

h1 {
  margin: unset;
}

h2 {
  margin: unset;
}

h3 {
  margin: unset;
}

h4 {
  margin: unset;
}

h5 {
  margin: unset;
}

h6 {
  margin: unset;
}

.w-100 {
  width: 100%;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 570px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1195px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1590px;
  }
}

.header {
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  z-index: 1;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: -8px;
  width: calc(100% + 16px);
  height: 15px;
  background: #70b354;
  z-index: -1;
}

#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

@media (min-width: 768px) {
  #nav {
    box-shadow: 0 17px 35px rgba(0, 0, 0, 0.11);
  }
}

#nav #collapse {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  background: #fff;
  -webkit-transition: max-height .3s, opacity .3s;
  transition: max-height .3s, opacity .3s;
  opacity: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  #nav #collapse {
    position: static;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding-bottom: unset;
    height: 100%;
    max-height: unset !important;
    background: rgba(0, 0, 0, 0.25);
    opacity: 1 !important;
  }

  #nav #collapse.active {
    box-shadow: unset !important;
  }
}

#nav #collapse.active {
  opacity: 1;
  box-shadow: 0 40px 35px rgba(0, 0, 0, 0.11);
}

#nav #collapse.active .a {
  visibility: visible;
}

#nav .a {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 10px 10px;
  padding: 16px 20px 14px 20px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
  visibility: hidden;
}

@media (min-width: 768px) {
  #nav .a {
    margin: 0 12px;
    padding: 14px 22px 12px 22px;
    height: 100%;
    color: #fff;
    visibility: visible !important;
  }
}

@media (min-width: 992px) {
  #nav .a {
    padding: 14px 30px 12px 30px;
  }
}

@media (min-width: 1200px) {
  #nav .a {
    margin: 0 15px;
    padding: 14px 34px 12px 34px;
  }
}

@media (min-width: 1600px) {
  #nav .a {
    padding: 14px 38px 12px 38px;
  }
}

#nav .a:hover {
  border-top: 5px solid #70b354;
  text-shadow: 0px 0px 1px #fff;
}

#nav .a:first-child {
  margin-top: 80px;
}

@media (min-width: 768px) {
  #nav .a:first-child {
    margin-top: unset;
  }
}

#nav #hamburger {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 2;
}

@media (min-width: 768px) {
  #nav #hamburger {
    display: none;
  }
}

#nav #hamburger-inner {
  position: relative;
  width: 40px;
  height: 2px;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#nav #hamburger-inner::before {
  content: '';
  position: absolute;
  top: -11px;
  width: 40px;
  height: 2px;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#nav #hamburger-inner::after {
  content: '';
  position: absolute;
  top: 11px;
  width: 40px;
  height: 2px;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

#nav #hamburger-inner.active {
  background: #70b354;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#nav #hamburger-inner.active::before {
  background: #70b354;
  -webkit-transform: rotate(90deg) translateX(11px);
          transform: rotate(90deg) translateX(11px);
}

#nav #hamburger-inner.active::after {
  background: #70b354;
  opacity: 0;
}

.claim {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: -80px;
  padding: 280px 0 200px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(112, 179, 84, 0.5)), to(rgba(112, 179, 84, 0.5))), url("/img/claim-colored.jpg");
  background: linear-gradient(rgba(112, 179, 84, 0.5), rgba(112, 179, 84, 0.5)), url("/img/claim-colored.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 150%;
}

@media (min-width: 576px) {
  .claim {
    padding: 305px 0 200px 0;
  }
}

@media (min-width: 768px) {
  .claim {
    margin-top: unset;
    padding: 250px 0 200px 0;
  }
}

@media (min-width: 1600px) {
  .claim {
    padding-top: 250px;
  }
}

.claim h1 {
  padding: 0 15px;
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 576px) {
  .claim h1 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .claim h1 {
    font-size: 42px;
  }
}

@media (min-width: 992px) {
  .claim h1 {
    font-size: 44px;
  }
}

@media (min-width: 1200px) {
  .claim h1 {
    font-size: 48px;
  }
}

.claim h2 {
  margin-top: 5px;
  padding: 0 15px;
  color: white;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 576px) {
  .claim h2 {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .claim h2 {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  .claim h2 {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  .claim h2 {
    font-size: 36px;
  }
}

.claim .btn-wrapper-outer {
  margin-top: 35px;
  padding: 7px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}

@media (min-width: 576px) {
  .claim .btn-wrapper-outer {
    padding: 8px;
  }
}

@media (min-width: 768px) {
  .claim .btn-wrapper-outer {
    padding: 9px;
  }
}

.claim .btn-wrapper-inner {
  padding: 7px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
}

@media (min-width: 576px) {
  .claim .btn-wrapper-inner {
    padding: 8px;
  }
}

@media (min-width: 768px) {
  .claim .btn-wrapper-inner {
    padding: 9px;
  }
}

.claim .btn {
  position: relative;
  padding: 12px 20px 10px 20px;
  border-radius: 15px;
  background: #fff;
  color: #70b354;
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .claim .btn {
    padding: 14px 22px 12px 22px;
  }
}

.claim .btn:hover::after {
  opacity: 1;
}

.claim .btn:active {
  background: #eee;
}

.claim .btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  box-shadow: 0 0 41px 5px rgba(255, 255, 255, 0.21);
  opacity: 0;
}

.about {
  padding: 50px 0 40px 0;
}

@media (min-width: 768px) {
  .about {
    padding: 50px 0 50px 0;
  }
}

@media (min-width: 992px) {
  .about {
    padding: 50px 0 60px 0;
  }
}

@media (min-width: 1200px) {
  .about {
    padding: 35px 0 95px 0;
  }
}

@media (min-width: 1600px) {
  .about {
    padding: 35px 0 120px 0;
  }
}

@media (min-width: 1600px) {
  .about .container {
    max-width: 1250px;
  }
}

.about .img-wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: calc(135vw);
  max-width: 348px;
  max-height: 490px;
}

@media (min-width: 768px) {
  .about .img-wrapper {
    max-width: unset;
    max-height: unset;
    width: 324px;
    height: unset;
  }
}

@media (min-width: 992px) {
  .about .img-wrapper {
    width: 380px;
  }
}

@media (min-width: 1200px) {
  .about .img-wrapper {
    width: 448px;
  }
}

.about .img-backgrounded {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 98px rgba(0, 0, 0, 0.25);
  background: url("/img/about.jpg");
  background-size: cover;
  background-position: 40%;
}

@media (min-width: 768px) {
  .about .img-backgrounded {
    height: 470px;
  }
}

@media (min-width: 992px) {
  .about .img-backgrounded {
    height: 520px;
    background-position: 40%;
  }
}

@media (min-width: 1200px) {
  .about .img-backgrounded {
    position: absolute;
    left: 0;
    top: -340px;
    height: 607px;
  }
}

@media (min-width: 1600px) {
  .about .img-backgrounded {
    top: -330px;
  }
}

@media (min-width: 768px) {
  .about .divider {
    width: 40px;
  }
}

@media (min-width: 992px) {
  .about .divider {
    width: 50px;
  }
}

@media (min-width: 1200px) {
  .about .divider {
    width: 60px;
  }
}

.about .block-description {
  margin-top: 40px;
}

@media (min-width: 576px) {
  .about .block-description {
    margin-top: 45px;
  }
}

@media (min-width: 768px) {
  .about .block-description {
    margin-top: unset;
    width: calc(100% - 364px);
  }
}

@media (min-width: 992px) {
  .about .block-description {
    width: calc(100% - 430px);
  }
}

@media (min-width: 1200px) {
  .about .block-description {
    width: calc(100% - 508px);
  }
}

.about .p {
  padding-top: 10px;
  text-align: justify;
  font-size: 14px;
  line-height: 24px;
}

.about .p:first-of-type {
  padding-top: 5px;
}

#wyniki {
  margin-bottom: 40px;
}

@media (min-width: 576px) {
  #wyniki {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  #wyniki {
    margin-bottom: 100px;
  }
}

.results {
  padding: 40px 0 40px 0;
  background: #f7f7f7;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

@media (min-width: 576px) {
  .results {
    padding: 50px 0 50px 0;
  }
}

@media (min-width: 768px) {
  .results {
    padding: 0 0 40px 0;
  }
}

.results .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media (min-width: 768px) {
  .results .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .results .container {
    max-width: 1100px;
  }
}

.results .result {
  margin-bottom: 40px;
}

@media (min-width: 576px) {
  .results .result {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .results .result {
    margin-top: -56px;
    margin-bottom: unset;
  }
}

.results .result:last-child {
  margin-bottom: unset;
}

.results .icon-wrapper {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  box-shadow: 0 0 98px rgba(0, 0, 0, 0.13);
  background: #fff;
}

.results .header {
  margin-top: 5px;
  font-size: 48px;
}

@media (min-width: 576px) {
  .results .header {
    margin-top: 15px;
  }
}

@media (min-width: 768px) {
  .results .header {
    margin-top: 30px;
  }
}

.results .header::after {
  height: 7px;
  bottom: -5px;
}

.results .caption {
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #70b354;
}

@media (min-width: 768px) {
  .results .caption {
    margin-top: 25px;
  }
}

.section-opinions {
  padding: 50px 0;
}

@media (min-width: 576px) {
  .section-opinions {
    padding: 60px 0;
  }
}

@media (min-width: 768px) {
  .section-opinions {
    padding: 65px 0;
  }
}

@media (min-width: 1200px) {
  .section-opinions {
    padding: 70px 0;
  }
}

@media (min-width: 1600px) {
  .section-opinions .container {
    max-width: 1240px;
  }
}

.section-opinions .header::after {
  display: none;
}

@media (min-width: 768px) {
  .section-opinions .header::after {
    display: block;
  }
}

.section-opinions .opinions {
  padding-top: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media (min-width: 576px) {
  .section-opinions .opinions {
    padding-top: 50px;
  }
}

@media (min-width: 768px) {
  .section-opinions .opinions {
    padding-top: 65px;
  }
}

@media (min-width: 1200px) {
  .section-opinions .opinions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding-top: 70px;
  }
}

@media (min-width: 1600px) {
  .section-opinions .opinions {
    -webkit-box-pack: center;
            justify-content: center;
  }
}

.section-opinions .double-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media (min-width: 768px) {
  .section-opinions .double-row {
    margin-bottom: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .section-opinions .double-row {
    margin-bottom: unset;
    width: calc(50% - 5px);
  }
}

@media (min-width: 768px) {
  .section-opinions .double-row:last-child {
    margin-bottom: unset;
  }
}

@media (min-width: 768px) {
  .section-opinions .double-divider {
    width: 25px;
  }
}

@media (min-width: 1200px) {
  .section-opinions .double-divider {
    width: 10px;
  }
}

@media (min-width: 1600px) {
  .section-opinions .double-divider {
    width: 25px;
  }
}

@media (min-width: 1200px) {
  .section-opinions .hg-divider {
    width: 10px;
  }
}

@media (min-width: 1600px) {
  .section-opinions .hg-divider {
    width: 25px;
  }
}

.section-opinions img {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .section-opinions img {
    margin-bottom: unset;
  }
}

.section-opinions .img-last {
  margin-bottom: unset;
}

.start-earning {
  padding: 25px 0 60px 0;
}

@media (min-width: 576px) {
  .start-earning {
    padding: 25px 0 70px 0;
  }
}

@media (min-width: 768px) {
  .start-earning {
    padding: 35px 0 70px 0;
  }
}

@media (min-width: 992px) {
  .start-earning {
    padding: 40px 0 80px 0;
  }
}

@media (min-width: 1200px) {
  .start-earning {
    padding: 40px 0 90px 0;
  }
}

@media (min-width: 1600px) {
  .start-earning {
    padding: 50px 0 100px 0;
  }
}

.start-earning .start-earning-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

@media (min-width: 576px) {
  .start-earning .start-earning-wrapper {
    margin-top: 70px;
  }
}

@media (min-width: 768px) {
  .start-earning .start-earning-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    margin-top: 55px;
  }
}

@media (min-width: 1200px) {
  .start-earning .start-earning-wrapper {
    margin-top: 65px;
    -webkit-box-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1600px) {
  .start-earning .start-earning-wrapper {
    margin-top: 75px;
    max-width: 1250px;
  }
}

.start-earning .images {
  margin: 30px auto 0 auto;
  width: 100%;
  max-width: 660px;
}

@media (min-width: 576px) {
  .start-earning .images {
    margin: 40px auto 0 auto;
  }
}

@media (min-width: 768px) {
  .start-earning .images {
    margin: unset;
    width: 310px;
  }
}

@media (min-width: 992px) {
  .start-earning .images {
    width: 406px;
  }
}

@media (min-width: 1200px) {
  .start-earning .images {
    width: 550px;
  }
}

@media (min-width: 1600px) {
  .start-earning .images {
    width: 640px;
  }
}

.start-earning .divider-img {
  width: 20px;
}

.start-earning .img {
  width: calc(50% - 10px);
  border-radius: 25px;
  box-shadow: 0 0 98px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .start-earning .divider {
    width: 35px;
  }
}

@media (min-width: 992px) {
  .start-earning .divider {
    width: 50px;
  }
}

@media (min-width: 1200px) {
  .start-earning .divider {
    width: 55px;
  }
}

@media (min-width: 768px) {
  .start-earning .block-text {
    width: calc(100% - 345px);
  }
}

@media (min-width: 992px) {
  .start-earning .block-text {
    width: calc(100% - 456px);
  }
}

@media (min-width: 1200px) {
  .start-earning .block-text {
    width: calc(100% - 605px);
  }
}

@media (min-width: 1600px) {
  .start-earning .block-text {
    width: calc(100% - 660px);
  }
}

.start-earning .p {
  font-size: 14px;
  margin-top: 40px;
  line-height: 26px;
}

@media (min-width: 576px) {
  .start-earning .p {
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .start-earning .p {
    margin-top: unset;
  }
}

@media (min-width: 1200px) {
  .start-earning .p {
    margin-top: 30px;
  }
}

.start-earning .p-bolded {
  margin-top: 20px;
  color: #70b354;
  font-size: 19px;
}

@media (min-width: 576px) {
  .start-earning .p-bolded {
    margin-top: 25px;
  }
}

.start-earning #form {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
  margin-top: 20px;
  height: 45px;
}

@media (min-width: 576px) {
  .start-earning #form {
    margin-top: 25px;
  }
}

@media (min-width: 1200px) {
  .start-earning #form {
    margin-top: 30px;
    height: 48px;
  }
}

.start-earning .input {
  padding: 10px 20px 10px 50px;
  border: 2px solid transparent;
  border-radius: 18px;
  width: calc(100% - 90px);
  height: 100%;
  background-color: #dfdfdf;
  -webkit-transition: border .05s;
  transition: border .05s;
  font-size: 14px;
}

@media (min-width: 576px) {
  .start-earning .input {
    width: auto;
  }
}

.start-earning .input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}

.start-earning .input::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

.start-earning .input:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}

.start-earning .input:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

.start-earning .input:focus {
  outline: none;
  border: 2px solid #70b354;
}

.start-earning .error {
  border: 2px solid #ff5d73;
}

.start-earning .label {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.start-earning #submit-btn {
  margin-left: 10px;
  padding: 2px 16px 0 16px;
  text-transform: uppercase;
  width: 90px;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 576px) {
  .start-earning #submit-btn {
    width: auto;
    padding: 2px 20px 0 20px;
  }
}

@media (min-width: 992px) {
  .start-earning #submit-btn {
    padding: 2px 25px 0 25px;
    letter-spacing: 1.92px;
  }
}

@media (min-width: 1200px) {
  .start-earning #submit-btn {
    padding: 2px 30px 0 30px;
  }
}

.start-earning #submit-btn:focus {
  outline: none;
  border: 2px solid #67a54e;
}

.footer {
  padding: 40px 0;
  background: #70b354;
  color: #fff;
  font-size: 14px;
  text-align: justify;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

