#wyniki {
  margin-bottom: 40px;

  @media (min-width: 576px) {
    margin-bottom: 50px;
  }

  @media (min-width: 768px) {
    margin-bottom: 100px;
  }
}

.results {
  padding: 40px 0 40px 0;
  background: #f7f7f7;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;

  @media (min-width: 576px) {
    padding: 50px 0 50px 0;
  }

  @media (min-width: 768px) {
    padding: 0 0 40px 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
    }

    @media (min-width: 1200px) {
      max-width: 1100px;
    }
  }

  .result {
    margin-bottom: 40px;

    @media (min-width: 576px) {
      margin-bottom: 50px;
    }

    @media (min-width: 768px) {
      margin-top: -56px;
      margin-bottom: unset;
    }

    &:last-child {
      margin-bottom: unset;
    }
  }

  .icon-wrapper {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    box-shadow: 0 0 98px rgba(0, 0, 0, 0.13);
    background: #fff;
  }

  .header {
    margin-top: 5px;
    font-size: 48px;

    @media (min-width: 576px) {
      margin-top: 15px;
    }

    @media (min-width: 768px) {
      margin-top: 30px;
    }

    &::after {
      height: 7px;
      bottom: -5px;
    }
  }

  .caption {
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    color: $primary;

    @media (min-width: 768px) {
      margin-top: 25px;
    }
  }
}
