.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.md-flex-centered {
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hg-flex-centered {
  @media (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
